/* Global =============================*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: "Poppins", sans-serif;
    --color-dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
}

html {
    font-size: 93.75%;
    scroll-behavior: smooth;
}

body {
    background: #f0f2f5;
}

.container {
    width: min(90vw, 900px);
    margin: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* Abreviações =============================*/
abbr {
    border-bottom: none !important;
    text-decoration: none !important; 
}
abbr[title]{
    position: relative;
}
abbr[title]:hover::after,
abbr[title]:focus::after {
    content: attr(title);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: auto;
    white-space: nowrap;
    
    background-color: #40404167;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem 1rem;
    bottom: -125%;
    max-width: 90vw;
    overflow-x: auto;
    font-size: 60%;
}
td abbr[title]:hover::after,
td abbr[title]:focus::after {
    font-size: inherit;
}
/*Titles ====================*/
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--color-dark-blue);
    font-weight: normal; /* 400 */
}
/*links and buttons*/

a {
    color: var(--green);
    text-decoration: none;
    transition: color .2s;
}

a:hover {
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: var(--green);
    padding:0;
    border-radius: .25rem;
    cursor: pointer;
    transition: .2s;

}
button:hover {
    background-color: var(--light-green);
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--red);
    border: 2px solid var(--red);
    height: 50px;
    border-radius: .25;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    transition: .3s;
}

.button.cancel:hover {
    color: #fff;
    background-color: var(--red);
    opacity: 1;
}

/*Header ====================*/
header {
    background: #2d4a22;
    padding: 2rem 0 10rem;
    text-align: center;
}

header h1#logo {
    color: #fff;
    font-weight: 100;
}

/* balance =====================*/
#balance {
    margin-top: -6rem;
}

#balance h2 {
    color: white;
    margin-top: 0;
}

/*cards =======================*/
.card {
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    color: var(--color-dark-blue);
    box-shadow: 6px 6px 8px rgba(53, 37, 37, 0.2);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;

    display: flex;
    align-self: center;
    justify-content: space-between;
}

.card p {
    margin-top: 1rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

.card.total {
    background: var(--green);
    color: white;
}

/* Table =====================*/
#transaction {
    width: 100%;
    display: block;
    overflow-x: auto;
}
#data-table {
    width: 100%;
    border-spacing: 0 0.5rem;
    color: #939cb3;

}
#data-table thead th:first-child,
#data-table tbody td:first-child {
    border-radius: .25rem 0 0 .25rem;
}
#data-table thead th:last-child,
#data-table tbody td:last-child {
    border-radius: 0 .25rem .25rem 0;
}

#data-table thead th {
    background-color: white;
    font-weight: 400;
    padding: 1rem 2rem;
    text-align: center;
}

#data-table tbody tr {
    opacity: 0.7;
}
#data-table tr:hover {
    opacity: 1;
}

#data-table tbody td {
    background-color: white;
    padding: 1rem 2rem;
    /* white-space: nowrap; */
    text-align: left;
}

#data-table td.description {
    color: var(--color-dark-blue);
}
#data-table td.income,
#data-table td.expense{
    text-align: center;
}
#data-table td.income {
    color: #12a454;
}
#data-table td.expense {
    color: #e92929;
}

/*Modal ==========================*/
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    position: fixed;
    left:0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    /* transition: .2s; */
    z-index: 9999;
    overflow: hidden;
}
.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}
.modal {
    background-color: #f0f2f5;
    padding: 2.4rem;
    /* width: 90%; */
    
}
/* form ==========================*/
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

#form form input {
    border:none;
    outline: none;
    border-radius: .2rem;
    padding: .8rem;
    width: 100%;
    
}
.input-group {
    margin-top: .8rem;
}
.input-group .help {
    opacity: .4;

}

.input-group.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input-group.actions .button,
.input-group.actions button {
    width: 48%;
}


/* footer =====================*/
footer {
    text-align: center;
    padding: 4rem 2rem 2rem;
    color: var(--color-dark-blue);
    opacity: 0.6;
}

/* Responsive==============================*/
@media (min-width: 800px) {
    html {
        font-size: 87.5%;
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        
    }
}